//main:style.less


@black:#2B2A2C;
@gray:#717072;
@gray-light:#EFEFEF;

@white:#fff;

//Медиазапрос
@mobile-sm: ~ "(max-width:565px)";
@mobile: ~ "(max-width:767px)";
@ipad: ~ "(max-width:769px)";

@tablet: ~ "(max-width:991px)";
@notebook: ~ "(max-width:1199px)";
@mobile-lt: ~ "(max-width:330px)";
@mobile-x: ~ "(max-width:400px)";

