//main: ../style.less

.about {
    margin: 120px 0;
    
    @media @mobile {
        margin: 30px 0;
    }
}

.about__inner {
    display: flex;
    max-width: 1090px;
    
}
.about__photo,
.about__content {
    width: 50%;
    
    @media @mobile {
        width: 100%;
    }
    
    
   
}

.about__photo {
    position: relative;
    
    img {
        position: absolute;
        bottom: 0;
        z-index: 2;
    }
    
    @media @mobile {
        display: none;
        
    }
    
    
}

.about__title {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 700;
    color:@black;
    
    @media @notebook {
        font-size: 35px;
    }
    @media @mobile {
        text-align: center;
    }
}

.about__bigtitle {
    margin-bottom: 21px;
    position: relative;
    left: -10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 84px;
    color:fade(@black,15%);
    line-height: 1.1;
    
    @media @notebook {
        font-size: 60px;
    }
    
    @media @mobile {
        font-size:53px;
        text-align: center;
    }
}

.about__text {
    font-size: 12px;
    color:@gray;
    line-height:2;
    font-weight: 300;
    
    margin-bottom: 40px;
    
    @media @tablet {
        font-size: 10px;
        line-height: 1.7;
    }
    
}

