//main: ../style.less

.contact {
    
     padding: 30px;
    
    @media @mobile-sm {
        width: 100%;
        padding: 10px 20px;
    }
    
}







.contact__info {
    margin: 25px 0 25px;
    padding: 0;
    list-style: none;
    font-weight: 300;
 
}

.contact__info-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 15px;
    
    &:last-child {
        margin-bottom: 0;
    }
    
    
    
    
}

.contact__info-icon {
    margin-right: 12px;
    
}

.modal__title2 {
    margin-bottom: 0;
    font-size: 45px;
    text-transform: uppercase;
    color: @black;
    font-weight: 700;
    
    @media @mobile-sm {
        font-size: 30px;
    }
}

