//main: ../style.less
.intro {
    margin-top: 100px;
   
    
    
}
.intro__inner {
    display: flex;
    
    position: relative;
    
    
    background: url("../img/symbols.png")right bottom no-repeat;
    border-bottom: 1px solid #F1F1F1;
    padding-top: 100px;
    padding-bottom: 120px;
    
    @media @tablet {
        
    padding-top: 100px;
    padding-bottom: 45px;
        
    background-size: 400px auto;
        
    }
}

.intro__content {
    width: 50%;
    
    @media @mobile-sm {
        width: 100%;
        margin-left: 15px;
    }
}

.intro__suptitle {
    font-size: 32px;
    color: @black;
    font-weight: 200;
    
    
}

.intro__title {
    margin-bottom: 5px;
    font-size: 45px;
    color: @black;
    font-weight: 700;
    
    @media @tablet {
        font-size: 35px;
    }
    
}

.intro__text {
    font-size: 18px;
    margin-bottom: 25px;
    color:fade(@black,70%)
    ;
}

.intro__photo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    
    @media @tablet {
        width: 300px;
        
    }
    @media @mobile-sm {
        display: none;
        
    }
    
}