//main: ../style.less
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    //Медиазапрос
    
    @media @mobile {
        width: 100%;
        height: auto;
        padding: 15px;
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1000;
        background-color: @white;
        box-shadow: 0 5px 10px rgba(0,0,0, .3);
        text-align: center;
        
        &.show {
           display: flex; 
            
                
            
            
        }
        
    }
}
.nav__link {

    margin-left: 2rem;
    position: relative;
    font-size: 14px;
    color: @black;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    border-radius: 20px;
    
    &:after {
        content: "";
        
        width: 0;
        height: 3px;
        background-color:#EB1D39;
        
        position: absolute;
        bottom: -5px;
        left: 0;
        z-index: 1;
        
        transition: width 0.2s linear;

    }
    

    
    &:hover:not(.nav__link--btn) {
        
        &:after {
           width: 100%;
            
        }
        
    }
    
/* Modificators */
    &--btn {
        padding: 0.66rem 2rem;
        border: 2px solid @black;
        border-radius: 20px;
        
        transition: background-color .2s linear , color .2s linear;
        
        &:hover {
            background-color: @black;
            color: @white;
            
            
        }
        
    }
    
    @media @mobile {
        width: 100%;
        margin-left: 0;
        padding: 7px 15px;;
        
    }
}